#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-prompt {
  color: #888;
}

.input-field {
  padding: 0.5rem;
  margin: 0.5rem;
  width: 275px;
  height: 30px;
  font-size: 1rem;
}
